<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionDao" class="com.slow3586.spring.question.QuestionDao">
        <property name="resourceService" ref="resourceService"/>
        <property name="questionConfig" ref="questionConfig"/>
    </bean>
    <bean id="outputService" class="com.slow3586.spring.io.OutputService">
    </bean>
    <bean id="questionService" class="com.slow3586.spring.question.QuestionService">
        <property name="questionDao" ref="questionDao"/>
        <property name="outputService" ref="outputService"/>
    </bean>
    <bean id="questionConfig" class="com.slow3586.spring.question.QuestionConfig">
        <property name="questionsCsvFileName" value="questions.csv"/>
    </bean>
    <bean id="resourceService" class="com.slow3586.spring.resource.ResourceService"/>
    <bean id="mainService" class="com.slow3586.spring.MainService" init-method="init">
        <property name="questionService" ref="questionService"/>
    </bean>
</beans>